@charset "UTF-8";
/* Todas as Medias */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: grey;
}

header h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: block;
}

menu ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(47, 47, 47);
    color: white;
    text-align: center;
    border-top: 2px solid rgba(128, 128, 128, 0.629);
}


.material-symbols-outlined {
    background-color: rgb(147, 147, 147);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    width: 100vw;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

menu{
    display: none;
}


menu a:hover{
    background-color: grey;
}


main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

article h2{
    padding-bottom: 20px;

}

article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}